<!doctype html>
<html class="no-js" lang="{{ page.seoLang }}">

    <head>
        <meta charset="utf-8" />
        <title>{{ page.title }}</title>
        <meta name="keywords" content="{{ page.keywords }}" />
        <meta name="description" content="{{ page.description }}" />

        {% if site.favicon %}
            <link rel="icon" href="{{ site.favicon['favicon'] }}" type="image/x-icon" />
            <link rel="SHORTCUT ICON" href="{{ site.favicon['thumbnail'] }}?v={{ "now"|date("U") }}" type="image/x-icon" />
        {% endif %}

        {% include basekit.headScript %}
    </head>

    <body class="{{ page.backgroundClass }}" {% if page.isRTLLanguage %}dir="rtl"{% endif %}>

        {% block content %}
        {% endblock %}

        {% include basekit.bodyScript %}

        <!-- Navigation Toggle -->
        <script>
            var navigationToggle = document.querySelector('.navigation-toggle');
            navigationToggle.addEventListener('click', function () {
                document.body.classList.toggle('navigation-open');
            });
        </script>

        <!-- Page Specific Scripts -->
        {% block scripts %}
        {% endblock %}

    </body>
</html>
